@media screen and (max-width:700px){
   
    header .topoContainer{
        display: flex;
        flex-direction: column;
        padding-bottom:10px;
    }
    .topoContainer {
        width: 100%;
        justify-content:center;
        align-items: center;
        
        
    }
    .ancora{
        padding-right: 0px;
        font-size: 12pt;
        margin-top: 1.0rem;
    }

    .logo{
        margin: 0px 0px 1.0rem;
    }
    
    section.secaoPrincipal{
        text-align: center;
        margin: 4rem 2rem;
    }
   form{
       width: 100%;
   }
    table{
        
        
            text-align: center;
        
        margin-left: 20%;
        text-align: center;
        font-size: 12pt;
        

        
    }

    th,td{
        padding:  1rem 0.5rem;
        font-size: 12px;

    }

    footer{
       
        text-align: center;
    }

}