@media screen and (max-width:600px){
   
    header .topoContainer{
        display: flex;
        flex-direction: column;
        padding-bottom:10px;
    }
    .topoContainer {
        
        justify-content:center;
        align-items: center;
        
        
    }
    .ancora{
        padding-right: 0px;
        font-size: 12pt;
        margin-top: 1.0rem;
    }

    .logo{
        margin: 0px 0px 1.0rem;
    }
    
    section.secaoPrincipal{
        text-align: center;
        margin: 4rem 1rem;
    }


    form{
        padding: 0 10px;
    }
   
   .tituloTabela {
       text-align: center;

   }
    table{
        
        text-align: center;
        font-size: 10pt;
        

        
    }

    th,td{
        padding:  0.4rem 0.2rem;
        font-size: 12px;

    }

    footer{
       
        text-align: center;
    }

}