*{
    margin: 0rem;
    padding: 0rem;
}
.topo{
  
    width: 100%;
     background-color: #40423c;
     color: #ffffff;
   
     
 }
 
 .logo{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style:italic;
     color: #fc8600;
     font-size: 30pt;
     padding-left: 4vh;
     margin-left: 15px;
     
 }
 .container{
     display: flex;
     justify-content:space-between;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;   
     
 }
 .ancora{
     color: #f1f5f8;
     text-decoration: none;
     margin:0 20px 0;
     font-size: 16pt;
     
 
     transition: .2s ease all;
   padding-bottom:5px;
     text-align: center;
     text-decoration: none;
     
 }
 
 .ancora:hover{
     border-bottom: solid #fc8600;
     color: #fc8600;
 
 }
 
 .navegação{
    
     
     margin:0 20px 0 0;
}
 
 




/* começa o main */


.containerMain{
    margin: 2rem;
}
.secaoPrincipal{
    border: solid 0.1875rem #fc8600; 
    border-radius: 20px;
    margin: 4rem auto;
    max-width: 37.5rem;
    


}

main .secaoPrincipal h2{
    margin: 1rem;
    font-size: x-large;
    font-weight: bold;
    
}

.secaoPrincipal p{
    margin: 1rem 1rem 0.5rem 1rem;
    font-size: x-large;
}

form{
    margin: 0 auto;
}
fieldset{
    border: none;
}

.pOpcoes{
    display: inline-block;
}


table{
    margin: 0 auto;
    text-align: center;
}
.tituloTabela{
    text-align: center;
}

input{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 0.5rem ;
}

select{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-top: 0.5rem ;
    background-color: #40423c;
    color: #ffffff;
    box-shadow: 1px 1px 1px 0 #010101;
    cursor:pointer;
    transition: .5s ease all;

}
select:hover{
    background-color: white;
    color: black;

}

button{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 0.5rem ;
    background-color: #40423c;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0 #010101;
    transition: .1s ease all;

}

button:active{
    transform:scale(1.1);
    background-color: white;
    color: black;
}

#butaoCalcular{
    height: 4rem;
    width: 8rem;
    font-size: large;

}

#foto{
    margin-top: 1rem;
    width: 18.75rem;
    transition: .5s ease all;
}

#foto:hover{
    transform:scale(1.1);
    
}
/* tabela */
#tabela{
    width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}


/* começa footer */

.rodape{
    width: 100%;
     background-color: #40423c;
     
    
}
 
.logoFundo {font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style:italic;
 color: #fc8600;
 font-size: 30pt;
     padding:4vh 8vh;
     margin: 0px;
     
     
    
 
}
 
 .row{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
     flex-wrap: wrap; 
     padding-bottom: 10px;
     text-align: center;
     
 }
 .ancoraFooter{
     color: #ffffff;
     text-decoration: none;
 }
 .ulista{
     list-style: none;
     margin: 20px 50px;
     margin: 20px 70px;
     
    
     
 }
 
 .tituloFundo{
     color: #fc8600;
     font-style: normal;
     font-size: 15pt;
     text-transform: uppercase;
     border-bottom: dashed #fc8600;
     margin: 1px 0px  10px;
     padding: 0px 0px 16px;
 }
 
 .lista{
     font-size: 18pt;
 }
 
 #icones{
     cursor: pointer;
     color: #ffffff;
     font-size: 20pt;
     margin: 5px 40px 0 0px;
     transition: .5s ease all;
     
 }
 
 #icones:hover{
     color:#fc8600;
     transform:scale(1.1);
 }

#resultado{
    text-align: center;
}
.secao-respota{
    border-radius: .25rem;
    padding: 1.25rem 1.875rem;
    margin: 4rem auto;
    max-width: 37.5rem;
    background-color: chocolate;

}



.carro{
    background-color: chocolate;
}
     