*{
    margin: 0rem;
    padding: 0rem;
}

.topo{
  
   
    background-color: #40423c;
    color: #ffffff;
    padding-top: 20px;
  
    
}
.topoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

 
 .logo{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style:italic;
     color: #fc8600;
     font-size: 30pt;
     margin: 0px 0px 1.5rem 2.5rem;
     
     
 }
 .container{
     justify-content:space-between;
     align-items: center;
     align-content: center;
     flex-wrap: nowrap;   
     
 }
 .ancora{
     color: #f1f5f8;
     text-decoration: none;
     margin:0 5px 0;
     font-size: 16pt;
     
 
     transition: .2s ease all;
   padding-bottom:5px;
     text-align: center;
     text-decoration: none;
     
 }
 
 .ancora:hover{
     border-bottom: solid #fc8600;
     color: #fc8600;
 
 }
 
 .navegacao{
    
     
     padding-right: 0.3125rem;
}
 
 




/* começa o main */


.containerMain{
    margin-bottom: 2rem;
}
.secaoPrincipal{
    border: solid 0.1875rem #fc8600; 
    border-radius: 20px;
    margin: 4rem auto;
    max-width: 37.5rem;
    


}

main .secaoPrincipal h2{
    margin: 1rem;
    font-size: x-large;
    font-weight: bold;
    
}


form{
    text-align: center;
}
form p{
    margin-bottom: 1rem;

}

fieldset{
    border: none;
    padding: 0px;
}

.pOpcoes{
    display: inline-block;
}



.divTabela{
    display: flex;
justify-content: center;
align-items:center ;
    
}
table{
  
    text-align: center;
}

.tituloTabela{
    text-align: center;
    margin-left:2rem ;
}

input{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 0.5rem ;
}

select{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-top: 0.5rem ;
    background-color: #40423c;
    color: #ffffff;
    box-shadow: 1px 1px 1px 0 #010101;
    cursor:pointer;
    transition: .5s ease all;

}
select:hover{
    background-color: white;
    color: black;

}

button{
    outline: 0;
    border: #fc8600 solid 2px ;
    border-radius: 30px;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 0.5rem ;
    background-color: #40423c;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0 #010101;
    transition: .5s ease all;

}

button:hover{
    transform:scale(1.1);
    background-color: white;
    color: black;
}

#butaoCalcular{
    height: 4rem;
    width: 8rem;
    font-size: large;

}

#foto{
    margin-top: 1rem;
    width: 18.75rem;
    transition: .5s ease all;
}

#foto:hover{
    transform:scale(1.1);
    
}
/* tabela */
#tabela{

	margin-bottom : .5em;
    table-layout: fixed;
}

.precosTituloCoparacao{
   
    border-bottom:solid orange 0.2rem ;
   margin: 0 4rem 4rem 2rem;
   
    
}
.tituloTabela{
    text-align: left;
    font-size: 20pt;
    font-weight: bold;
   
}

td, th {
	
    padding: 1rem;
    
	
	border:1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}


/* começa footer */

.rodape{
    
     background-color: #40423c;
     
    
}
 
.logoFundo {font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style:italic;
 color: #fc8600;
 font-size: 30pt;
     padding:4vh 8vh;
     margin: 0px;
     
     
    
 
}
 
 .row{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
     flex-wrap: wrap; 
     padding-bottom: 10px;
     text-align: center;
     
 }
 .ancoraFooter{
     color: #ffffff;
     text-decoration: none;
 }
 .ulista{
     list-style: none;
     
     margin: 20px 80px;
     
    
     
 }
 
 .tituloFundo{
     color: #fc8600;
     font-style: normal;
     font-size: 15pt;
     text-transform: uppercase;
     border-bottom: dashed #fc8600;
     margin: 1px 0px  10px;
     padding: 0px 0px 16px;
 }
 
 .lista{
     font-size: 18pt;
 }
 
 #icones{
     cursor: pointer;
     color: #ffffff;
     font-size: 20pt;
     margin: 5px 40px 0 0px;
     transition: .5s ease all;
     
 }
 
 #icones:hover{
     color:#fc8600;
     transform:scale(1.1);
 }

#resultado{
    text-align: center;
}
.secao-respota{
    border-radius: .25rem;
    padding: 1.25rem 1.875rem;
    margin: 4rem auto;
    max-width: 37.5rem;
    background-color: chocolate;

}



.carro{
    background-color: chocolate;
}
     